.classroomlist {
  color: $darkColor;
  button {
    outline: 0;
  }
  a {
    text-decoration: none;

    color: $darkColor;
    width: 70%;
    display: inline-block;
  }
  background-color: $lightColor;
  &__title {
    padding: 80px 0 50px 0;
  }
  &__wrapper {
    width: 90%;
    margin: 0 auto;
  }

  &__item {
    min-height: 200px;
    background-color: $white;
    box-shadow: 0 3px 15px 0 #00000028;
    padding: 30px;
    font-size: 2rem;
    margin-bottom: 45px;
    transition: box-shadow 0.1s;
    &__questions__count {
      padding-bottom: 4px;
    }
    &__name {
      padding-bottom: 25px;
      font-size: 2.6rem;
      transition: color 0.1s;
      display: inline-block;
    }
    &:hover {
      box-shadow: 0 3px 15px 0 #0000004f;
    }
    &:hover &__name {
      color: $primaryAccent;
    }
    &__password {
      float: right;
      line-height: 45px;
    }
  }
  &__addbutton {
    height: 70px;
    width: 70px;
    border: none;
    background-color: $primaryAccent;
    border-radius: 100%;
    font-size: 3rem;
    color: $white;
    position: fixed;
    bottom: 60px;
    right: 60px;
    transition: transform 0.5s;
    box-shadow: 3px 3px 15px 0 #00000028;
    cursor: pointer;

    &:hover {
      background-color: darken($primaryAccent, 2%);
      transform: rotateZ(90deg);
    }
  }
  &__form {
    width: 300px;
    background: $white;
    position: fixed;
    bottom: 150px;
    right: 60px;
    box-shadow: 0 3px 15px 0 #00000021;
    &__input,
    &__submit {
      height: 50px;
      text-align: center;
      display: block;
      width: 100%;
      border: 0;
      outline: 0;
    }
    &__submit {
      background-color: $primaryAccent;
      color: $white;
      &:hover {
        background-color: darken($primaryAccent, 2%);
        cursor: pointer;
      }
    }
  }
  &__disabled {
    background-color: rgba(0, 0, 0, 0.151);
    color: rgba(0, 0, 0, 0.63);
  }
}

.classroomlist__empty {
  font-size: 3rem;
  padding-left: 8px;
}

.disabled__text {
  font-weight: bold;
  line-height: 40px;
}

span.highlighted {
  font-weight: bold;
  color: $primaryAccent;
  font-size: 1.8rem;
}

@supports (-moz-appearance: none) {
  .classroomlist__addbutton {
    padding: 19px;
    line-height: 38px;
    height: 70px;
    width: 70px;
  }
}

@media (max-width: 800px) {
  .classroomlist__item__password {
    float: none;
  }
  .disabled__text {
    float: none;
  }

  .classroomlist__item__name {
    padding-bottom: 15px;
  }
}

@media (max-width: 650px) {
  .classroomlist {
    a {
      width: 100%;
    }
  }
  .classroomlist__addbutton {
    bottom: 20px;
    right: 20px;
  }
  .classroomlist__form__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darken($darkColor, 5%);
    z-index: 0;
  }

  .classroomlist__form {
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 10;
  }
}
