html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font;
  background: $lightColor;
}

.wrapper {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

h2 {
  font-size: 6rem;
}

img {
  width: 100%;
}
