.halpq {
  color: $darkColor;
  background: $lightColor;
  position: relative;
  &__title {
    margin-top: 50px;
    // border: 1px solid red;
  }
  &__filter {
    background: $lightColor;
    color: $darkColor;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    border: 0;
    font-size: 2rem;
    &__active {
      background: $darkNeutral;
    }
  }
  &__toggleclassroom {
    float: right;
    // border: 1px solid red;
    &__active {
      fill: $primaryAccent;
    }
  }

  & .buttonImage {
    width: 55px;
    height: 55px;
    margin: 2px;
  }
}

.question__listing {
  float: left;
  width: calc(60% - 1px);
  // overflow-y: auto;
  // max-height: 600px;
}

.question__list {
  color: $darkColor;
  padding: 10px;
  background: $darkNeutral;
  position: relative;
  &__title {
    padding: 50px 0;
    font-size: 4rem;
  }
}

.returnLink {
  width: 175px;
  padding-bottom: 50px;
  &__img {
    width: 20px;
    margin: 0 5px 0 0;
    float: left;
  }
  p {
    font-size: 1.8rem;
    float: left;
    color: $darkColor;
  }
}

@media (max-width: 500px) {
  .halpq__filter {
    font-size: 1.8rem;
  }
}
