.halpq {
  color: $darkColor;
  background: $lightColor;
  &__filter {
    background: $lightColor;
    color: $darkColor;
    padding: 10px;
    border: 0;
    font-size: 2rem;
    &__active {
      background: $secondaryAccent;
    }
  }
  &__toggleclassroom {
    float: right;
    border: 0;
  }
  &__toggleDisable svg {
  }
  & .buttonImage {
    width: 55px;
    height: 55px;
    margin: 2px;
  }
  
}

.halpq_toggleEnable svg path {
}



.returnLink {
  width: 175px;
  padding-bottom: 50px;
  &__img {
    width: 20px;
    margin: 0 5px 0 0;
    float: left;
  }
  p {
    font-size: 1.8rem;
    float: left;
    color: $darkColor;
  }
}
