.header {
  width: '100%';
  // display: 'inline-block';

  &--userImage {
    float: right;
    border-radius: 50%;
    svg {
      width: 60px;
    }
  }

  &__logo {
    width: '94px';
    // display: 'inline-block';
  }
  &--userNameText {
    display: 'block';
    width: '50%';
    float: 'right';
  }
}
.logOut {
  padding: 0;
  border: none;

  &__img {
    width: 30px;
  }

  img{
    width: 100%;
  }

}

.header--logo {
  width: '94px';
  display: 'inline-block';
}
.userPanelStyle {
  float: 'right';
  display: 'inline-block';
}
