.header {
  width: 100%;
  background: $white;

  &__logo {
    width: 94px;
    height: 94px;
    margin-right: 10px;
    float: left;
  }
}
.logOut {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &__img {
    width: 40px;
  }

  img {
    width: 100%;
  }
}

.header__heading {
  padding-top: 10px;
  // border: 1px solid green;
  float: left;
  h1 {
    margin: 0;
    font-size: 4rem;
    color: $darkColor;
  }
}

.userPanelStyle {
  // border: 1px solid red;
  padding: 23px 10px 0 0;
  float: right;
  display: inline-block;
}
.userManagementLink {
  width: 40px;
  // border: 1px solid purple;
  float: left;
  svg path {
      transition: fill 0.1s;
    }
  &:hover svg path {
    fill: $primaryAccent;
  }
}
.userDetails {
  // border: 1px solid blue;
  float: left;
  &__image {
    // border: 1px dashed black;
    width: 40px;
    float: left;
    margin: 0 10px;
    img {
      border-radius: 50%;
      filter: grayscale(10);
    }
  }

  .logOut {
    // border: 1px dashed black;
    float: left;
    margin-left: 10px;
    svg path {
      transition: fill 0.1s;
    }
    &:hover svg path {
      fill: $primaryAccent;
    }
  }

  &__text {
    float: left;
  }
}

@media (max-width: 680px) {
  .header__title {
    margin-top: 8px;
    &Container {
      display: none;
    }
  }
}
@media (max-width: 560px) {
  .header {
    &__logo {
      width: 80px;
      height: 80px;
    }
  }
  .header__title {
    margin-top: 14px;
    h1 {
      font-size: 3.2rem;
    }
  }
  .userDetails {
    &__text {
      display: none;
    }
  }

  .userDetails {
    &__image {
      width: 35px;
    }
  }
  .logOut {
    &__img {
      width: 35px;
    }
  }
  .userManagementLink {
    width: 35px;
  }
}
