.logIn {
  background: url(https://firebasestorage.googleapis.com/v0/b/halpq-project.appspot.com/o/hero-image-smaller.jpg?alt=media&token=834ec890-2feb-4593-87d7-4dc6e47906c9);
  width: 100%;
  height: 86.9vh;
  padding: 1px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  margin: 0 auto;
  position: relative;
  .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  &__button {
    font-family: $font;
    display: block;
    width: 50%;
    background: $primaryAccent;
    color: $white;
    padding: 2%;
    font-size: 3rem;
    text-align: center;
    margin: 150px auto;
    &:hover {
      background: $secondaryAccent;
    }
  }
}
