.question__wrapper {
  width: 90%;
  margin: 0 auto;
}

.question {
  background: $white;
  margin: 0 0;
  width: 100%;
  min-height: 200px;
  background-color: $white;
  box-shadow: 0 3px 15px 0 #00000028;
  padding: 20px;
  font-size: 2rem;
  margin-bottom: 20px;
  &__questionContent {
    font-size: 2rem;
    float: left;
  }

  &__userInfo__image {
    width: 90px;
    float: left;
    margin: 0 10px;
    img {
      border-radius: 50%;
      filter: grayscale(10);
    }
    p {
      padding-top: 10px;
    }
  }
  &__actions__admins {
    float: right;
    .buttonImage {
      width: 35px;
      height: 35px;
      margin: 2px;
      text-align: right;
      & svg path {
      }
    }
  }
}
//  .question {
//     min-height: 200px;
//     background-color: $white;
//     box-shadow: 0 3px 15px 0 #00000021;
//     padding: 30px;
//     font-size: 2rem;
//     margin-bottom: 40px;
//     &__name {
//       padding-bottom: 13px;
//     }
//     &:hover {
//       box-shadow: 0 3px 15px 0 #0000003a;
//     }
//     &:hover &__name {
//       color: $primaryAccent;
//     }
//   }
//
