.questionForm {
  border: 1px solid red;
  padding-top: 10px;
  width: 29%;
  float: right;
  textarea {
    display: block;
    resize: none;
    width: 100%;
    border: 0;
  }
  input {
    height: 40px;
    width: 100%;
    margin: 10px 0;
    border: 0;
  }
  input[type='submit'] {
    display: block;
    width: 100%;
    border: 0;
    background: $secondaryAccent;
  }
  label {
    display: block;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
