.users {
  border: 1px dashed black;
  &--list {
    border: 1px dashed red;
    width: calc(50% - 40px);
    margin: 0 20px;
    float: left;
  }
}

.usermgmt-logo {
  width: 60px;
  float: right;
}
