.userManagement {
  background: $lightColor;
  height: 90vh;
  p, h4 {
    color: $darkColor;
  }
}



.users {
  // border: 1px dashed black;
  margin: 10px 0;
  padding: 20px 0;
  &__panel {
    width: calc(50% - 5px);
    float: left;
  }
  &__panel:first-child {
    margin-right: 10px
  }
  &__panelTitle {
    font-size: 3rem;
    padding-left: 5px;
    color: $darkColor;
    
  }
  &__panelTitle--admin {
    padding-right: 5px;
    text-align: right; 
  }
}

.returnLink {
    width: 175px;

  // margin-top: 10px;
  // border: 1px solid green;

  &__img {
    width: 20px;
    margin: 0 5px 0 0;
    float: left;

  }
  p {
    font-size: 1.8rem;
    float: left;
    color: $darkColor;
  }
}

.userList {
    // border: 1px solid $white;
    // border-top: 10px solid $white;
    // border-bottom: 10px solid $white;
    // background: $white;
    // box-shadow: 0 3px 15px 0 #0000003a;
    padding: 5px; //Yes. 9. to account for side borders 1px making it 10px. Not about to go for 11px.
    max-height: 60vh;
    overflow-x: scroll;
    &__user {
      background: $white;
      box-shadow: 0px 2px 5px 0 #0000003a, 0px 2px 5px 0 #0000003a;
      // border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px; 
    }
    &__user:last-child {
      margin-bottom: 5px; 
    }
    .user__details {
      float: left;
      p {
        font-size: 1.4rem;
      }
    }
    .user__action {
      float: right;
    }
}
.user__button {
  background: transparent;
  border: none;
  padding: 2px;
  cursor: pointer;

  .buttonImage {
    width: 35px;
    height: 35px;
    margin: 2px;
  }

}
.noAdmin {
  text-align: right;
}
//specific to Admin side. just aligning opposite to rest
.admin {

  .user__details {
    float: right;
    text-align: right;
  }
  .user__action {
    float: left;
  }
  .buttonImage {
    float: left;
  }
}