.userManagement {
  background: $lightColor;
  padding: 1px 0;
  min-height: 83vh;
  p, h4 {
    color: $darkColor;
  }
}

.Component__Title {
  padding: 50px 0 0 0;
}


.users {
  // border: 1px dashed black;
  margin: 10px 0;
  padding: 20px 0;
  &__panel {
    width: calc(50% - 5px);
    float: right;
  }
  &__panel:first-child {
    margin-right: 10px
  }
  &__panelTitle {
    font-size: 3rem;
    padding-left: 5px;
    color: $darkColor;
    
  }
  &__panelTitle--admin {
    padding-right: 5px;
    text-align: right; 
  }
}

.returnLink {
    width: 175px;

  // margin-top: 10px;
  // border: 1px solid green;

  &__img {
    width: 20px;
    margin: 0 5px 0 0;
    float: left;

  }
  p {
    font-size: 1.8rem;
    float: left;
    color: $darkColor;
  }
}

.userList {
    padding: 5px;
    max-height: 60vh;
    overflow-x: scroll;
    &__user {
      background: $white;
      box-shadow: 0px 2px 5px 0 #0000003a, 0px 2px 5px 0 #0000003a;
      padding: 10px;
      margin-bottom: 10px; 
    }
    &__user:last-child {
      margin-bottom: 5px; 
    }
    .user__details {
      float: left;
      p {
        font-size: 1.4rem;
      }
    }
    .user__action {
      float: right;
    }
}
.user__button {
  background: transparent;
  border: none;
  padding: 2px;
  cursor: pointer;

  .buttonImage {
    width: 35px;
    height: 35px;
    margin: 2px;
    
  }


}
.noAdmin {
  text-align: right;
}
//specific to Admin side. just aligning opposite to rest
.admin {

  .user__details {
    float: right;
    text-align: right;
  }
  .user__action {
    float: left;
  }
  .buttonImage {
    float: left;
  }
}

@media (max-width: 670px) {
  .users {
    &__panel {
      width: 100%;
      // max-height: 30vh;
    }
    &__panel:first-child {
    margin-right: 0px
    }
  }
  .userList {
    max-height: 50vh;
    .user__action {
      transform: rotate(-90deg);
    }
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 3.8rem;
  }
}