html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  background: #f6f7f9; }

.wrapper {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto; }

h2 {
  font-size: 6rem; }

img {
  width: 100%; }

button {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: inherit; }

.header {
  width: 100%;
  background: #ffffff; }
  .header__logo {
    width: 94px;
    height: 94px;
    margin-right: 10px;
    float: left; }

.logOut {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer; }
  .logOut__img {
    width: 40px; }
  .logOut img {
    width: 100%; }

.header__heading {
  padding-top: 10px;
  float: left; }
  .header__heading h1 {
    margin: 0;
    font-size: 4rem;
    color: #231f1f; }

.userPanelStyle {
  padding: 23px 10px 0 0;
  float: right;
  display: inline-block; }

.userManagementLink {
  width: 40px;
  float: left; }
  .userManagementLink svg path {
    transition: fill 0.1s; }
  .userManagementLink:hover svg path {
    fill: #e40015; }

.userDetails {
  float: left; }
  .userDetails__image {
    width: 40px;
    float: left;
    margin: 0 10px; }
    .userDetails__image img {
      border-radius: 50%;
      filter: grayscale(10); }
  .userDetails .logOut {
    float: left;
    margin-left: 10px; }
    .userDetails .logOut svg path {
      transition: fill 0.1s; }
    .userDetails .logOut:hover svg path {
      fill: #e40015; }
  .userDetails__text {
    float: left; }

@media (max-width: 680px) {
  .header__title {
    margin-top: 8px; }
    .header__titleContainer {
      display: none; } }

@media (max-width: 560px) {
  .header__logo {
    width: 80px;
    height: 80px; }
  .header__title {
    margin-top: 14px; }
    .header__title h1 {
      font-size: 3.2rem; }
  .userDetails__text {
    display: none; }
  .userDetails__image {
    width: 35px; }
  .logOut__img {
    width: 35px; }
  .userManagementLink {
    width: 35px; } }

@media (max-width: 400px) {
  .header__title {
    margin-top: 14px; }
    .header__title h1 {
      font-size: 2.5rem; }
  .userDetails__image {
    width: 30px; }
  .logOut__img {
    width: 30px; }
  .userManagementLink {
    width: 30px; } }

.userMgmt {
  width: '60px';
  float: 'right'; }

.halpq {
  color: #231f1f;
  background: #f6f7f9;
  position: relative; }
  .halpq__title {
    margin-top: 50px; }
  .halpq__filter {
    background: #f6f7f9;
    color: #231f1f;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    border: 0;
    font-size: 2rem; }
    .halpq__filter__active {
      background: #787e8b; }
  .halpq__toggleclassroom {
    float: right; }
    .halpq__toggleclassroom__active {
      fill: #e40015; }
  .halpq .buttonImage {
    width: 55px;
    height: 55px;
    margin: 2px; }

.question__listing {
  float: left;
  width: calc(60% - 1px); }

.question__list {
  color: #231f1f;
  padding: 10px;
  background: #787e8b;
  position: relative; }
  .question__list__title {
    padding: 50px 0;
    font-size: 4rem; }

.returnLink {
  width: 175px;
  padding-bottom: 50px; }
  .returnLink__img {
    width: 20px;
    margin: 0 5px 0 0;
    float: left; }
  .returnLink p {
    font-size: 1.8rem;
    float: left;
    color: #231f1f; }

.classroomlist {
  color: #231f1f;
  background-color: #f6f7f9; }
  .classroomlist button {
    outline: 0; }
  .classroomlist a {
    text-decoration: none;
    color: #231f1f;
    width: 70%;
    display: inline-block; }
  .classroomlist__title {
    padding: 80px 0 50px 0; }
  .classroomlist__wrapper {
    width: 90%;
    margin: 0 auto; }
  .classroomlist__item {
    min-height: 200px;
    background-color: #ffffff;
    box-shadow: 0 3px 15px 0 #00000028;
    padding: 30px;
    font-size: 2rem;
    margin-bottom: 45px;
    transition: box-shadow 0.1s; }
    .classroomlist__item__questions__count {
      padding-bottom: 4px; }
    .classroomlist__item__name {
      padding-bottom: 25px;
      font-size: 2.6rem;
      transition: color 0.1s;
      display: inline-block; }
    .classroomlist__item:hover {
      box-shadow: 0 3px 15px 0 #0000004f; }
    .classroomlist__item:hover .classroomlist__item__name {
      color: #e40015; }
    .classroomlist__item__password {
      float: right;
      line-height: 45px; }
  .classroomlist__addbutton {
    height: 70px;
    width: 70px;
    border: none;
    background-color: #e40015;
    border-radius: 100%;
    font-size: 3rem;
    color: #ffffff;
    position: fixed;
    bottom: 60px;
    right: 60px;
    transition: transform 0.5s;
    box-shadow: 3px 3px 15px 0 #00000028;
    cursor: pointer; }
    .classroomlist__addbutton:hover {
      background-color: #da0014;
      transform: rotateZ(90deg); }
  .classroomlist__form {
    width: 300px;
    background: #ffffff;
    position: fixed;
    bottom: 150px;
    right: 60px;
    box-shadow: 0 3px 15px 0 #00000021; }
    .classroomlist__form__input, .classroomlist__form__submit {
      height: 50px;
      text-align: center;
      display: block;
      width: 100%;
      border: 0;
      outline: 0; }
    .classroomlist__form__submit {
      background-color: #e40015;
      color: #ffffff; }
      .classroomlist__form__submit:hover {
        background-color: #da0014;
        cursor: pointer; }
  .classroomlist__disabled {
    background-color: rgba(0, 0, 0, 0.151);
    color: rgba(0, 0, 0, 0.63); }

.disabled__text {
  font-weight: bold;
  line-height: 40px; }

span.highlighted {
  font-weight: bold;
  color: #e40015;
  font-size: 1.8rem; }

@supports (-moz-appearance: none) {
  .classroomlist__addbutton {
    padding: 19px;
    line-height: 38px;
    height: 70px;
    width: 70px; } }

@media (max-width: 800px) {
  .classroomlist__item__password {
    float: none; }
  .disabled__text {
    float: none; }
  .classroomlist__item__name {
    padding-bottom: 15px; } }

@media (max-width: 650px) {
  .classroomlist a {
    width: 100%; }
  .classroomlist__addbutton {
    bottom: 20px;
    right: 20px; }
  .classroomlist__form__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 0; }
  .classroomlist__form {
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 10; } }

.completeQuestion {
  width: 100%;
  transition: fill 0.1s; }
  .completeQuestion:hover svg path {
    fill: #e40015; }
  .completeQuestion .buttonImage {
    margin: 0 4px 0 2px; }

.beingHelped {
  width: 100%;
  transition: fill 0.1s; }
  .beingHelped:hover svg path {
    fill: #e40015; }

.question {
  background: #ffffff;
  margin: 0;
  width: 100%;
  min-height: 200px;
  background-color: #ffffff;
  box-shadow: 0 3px 15px 0 #00000099;
  padding: 10px;
  font-size: 1.6rem;
  margin-bottom: 10px; }
  .question__questionContent {
    float: left;
    width: calc(100% - 15% - 170px - 10px);
    padding: 10px;
    padding-right: 0; }
    .question__questionContent--infoContainer {
      font-weight: 700; }
      .question__questionContent--infoContainer .question__questionContent--name {
        font-size: 2rem;
        color: #e40015; }
    .question__questionContent--contentContainer {
      padding-top: 10px; }
  .question__userInfo__image {
    width: 15%;
    float: left;
    margin: 0 10px 0 0;
    font-size: 1.4rem;
    text-align: center; }
    .question__userInfo__image img {
      border-radius: 50%;
      filter: grayscale(10);
      padding-bottom: 10px; }
  .question__actions__admins {
    width: 170px;
    text-align: right; }
    .question__actions__admins p {
      float: right;
      color: #231f1f;
      padding-top: 8px;
      padding-right: 4px;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;
      font-family: "Raleway", sans-serif; }
  .question .completeQuestion .buttonImage {
    margin: 0 4px 0 2px; }
  .question .beingHelped .buttonImage {
    margin: 0 4px 0 2px; }
  .question__actions__admins {
    float: right; }
    .question__actions__admins .buttonImage {
      float: right;
      width: 35px;
      height: 35px;
      margin: 0 2px;
      text-align: right; }

.questionConversation {
  width: 100%;
  padding: 0;
  margin: 0;
  transition: fill 0.1s;
  text-align: right; }
  .questionConversation .buttonImage {
    width: 37px;
    height: 37px;
    float: right; }
  .questionConversation:hover svg path {
    fill: #e40015; }

@media (max-width: 900px) {
  .question__userInfo__image {
    float: none;
    width: 50%;
    text-align: left;
    font-size: 1.6rem; }
    .question__userInfo__image img {
      display: none; }
  .question__questionContent {
    width: calc(100% - 50px - 10px); }
  .question .question__actions__admins {
    width: 50px; }
    .question .question__actions__admins p {
      display: none; } }

.question__wrapper {
  width: 90%;
  margin: 0 auto; }

.questionForm {
  width: 39%;
  float: right; }
  .questionForm__input, .questionForm__submit {
    height: 55px;
    margin-bottom: 10px;
    width: 100%;
    border: 0;
    letter-spacing: 1px;
    padding: 5px;
    font-family: inherit;
    resize: none; }
  .questionForm__questionArea {
    display: block;
    height: 200px;
    font-family: inherit;
    width: 100%; }
  .questionForm__addbutton {
    display: none;
    height: 70px;
    width: 70px;
    background-color: #e40015;
    border-radius: 100%;
    font-size: 3rem;
    z-index: 10;
    color: #ffffff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: transform 0.5s;
    box-shadow: 3px 3px 15px 0 #00000028;
    cursor: pointer; }
    .questionForm__addbutton:hover {
      background-color: #da0014;
      transform: rotateZ(90deg); }
  .questionForm__submit {
    display: block;
    width: 100%;
    border: 0;
    background: #e44e48; }
  .questionForm__label {
    display: none;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px; }
  .questionForm__mobileWrapper {
    position: fixed;
    background: #151313;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .questionForm__mobileInner {
    position: fixed;
    background: #e7e9ef;
    width: 80%;
    height: auto;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@media (max-width: 750px) {
  .questionForm__addbutton {
    display: block; }
  .questionForm__desktop {
    display: none; }
  .question__listing {
    width: 100%; } }

button {
  outline: 0; }

.chat {
  position: fixed;
  z-index: 10;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 31, 31, 0.9); }
  .chat__controls {
    background-color: #e40015;
    position: absolute;
    padding: 10px 17px;
    color: #ffffff;
    z-index: 10;
    top: 0;
    left: 0;
    transition: background-color 0.1s; }
    .chat__controls:hover {
      background: #da0014; }
  .chat__convo {
    position: fixed;
    background: #e7e9ef;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow-y: auto;
    padding-bottom: 45px; }
  .chat__message {
    margin: 30px;
    background: #fafafa;
    border-radius: 10px;
    padding: 15px;
    word-wrap: break-word; }
  .chat__chatContent {
    font-size: 1.8rem;
    text-align: left; }
  .chat__userInfo {
    font-weight: bold;
    color: #e44e48;
    margin-bottom: 10px;
    text-align: left; }
  .chat__inputArea {
    bottom: 0;
    left: 0;
    position: absolute; }
  .chat__messageInput, .chat__buttonSubmit {
    height: 50px;
    display: inline-block;
    border: 0;
    outline: 0; }
  .chat__wrapper {
    position: fixed;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .chat__input__form {
    position: absolute;
    bottom: -5px;
    width: 100%; }
  .chat__messageInput {
    padding: 10px 10px 10px 20px;
    width: 80%;
    border-bottom-left-radius: 10px; }
  .chat__buttonSubmit {
    width: 20%;
    cursor: pointer;
    background: #e40015;
    color: #fff;
    border-bottom-right-radius: 10px;
    transition: background 0.1s; }
    .chat__buttonSubmit:hover {
      background: #da0014; }

.chat__convo--nopadding {
  padding-bottom: 0; }

@media (max-width: 800px) {
  .chat__wrapper {
    height: 100%;
    width: 100%; }
  .chat__controls {
    width: 100%;
    text-align: left; }
  .chat__messageInput, .chat__buttonSubmit {
    height: 60px;
    border-radius: 0; }
  .chat__convo {
    border-radius: 0; } }

@supports (-moz-appearance: none) {
  .chat__invisible {
    margin-bottom: 45px; } }

.userManagement {
  background: #f6f7f9; }
  .userManagement p, .userManagement h4 {
    color: #231f1f; }

.Component__Title {
  padding: 50px 0 0 0; }

.users {
  margin: 10px 0;
  padding: 20px 0; }
  .users__panel {
    width: calc(50% - 5px);
    float: right; }
  .users__panel:first-child {
    margin-right: 10px; }
  .users__panelTitle {
    font-size: 3rem;
    padding-left: 5px;
    color: #231f1f; }
  .users__panelTitle--admin {
    padding-right: 5px;
    text-align: right; }

.returnLink {
  width: 175px; }
  .returnLink__img {
    width: 20px;
    margin: 0 5px 0 0;
    float: left; }
  .returnLink p {
    font-size: 1.8rem;
    float: left;
    color: #231f1f; }

.userList {
  padding: 5px;
  max-height: 60vh;
  overflow-x: scroll; }
  .userList__user {
    background: #ffffff;
    box-shadow: 0px 2px 5px 0 #0000003a, 0px 2px 5px 0 #0000003a;
    padding: 10px;
    margin-bottom: 10px; }
  .userList__user:last-child {
    margin-bottom: 5px; }
  .userList .user__details {
    float: left; }
    .userList .user__details p {
      font-size: 1.4rem; }
  .userList .user__action {
    float: right; }

.user__button {
  background: transparent;
  border: none;
  padding: 2px;
  cursor: pointer; }
  .user__button .buttonImage {
    width: 35px;
    height: 35px;
    margin: 2px; }

.noAdmin {
  text-align: right; }

.admin .user__details {
  float: right;
  text-align: right; }

.admin .user__action {
  float: left; }

.admin .buttonImage {
  float: left; }

@media (max-width: 670px) {
  .users__panel {
    width: 100%; }
  .users__panel:first-child {
    margin-right: 0px; }
  .userList {
    max-height: 50vh; }
    .userList .user__action {
      transform: rotate(-90deg); } }

@media (max-width: 600px) {
  h2 {
    font-size: 3.8rem; } }
